@charset "utf-8";

@import url("#{resource['styles/fontawesome-4.5.0.min.css']}");

/* Configurações Gerais
--------------------------------------------------------------------------------------------------*/
body {
	font-family: sans-serif;
	margin: 0;
}

/* Cabeçalho do site
--------------------------------------------------------------------------------------------------*/
.cabecalho {
	background-color: #1874CD;
	width: 100%;
	height: 70px;
	margin: 0;
	padding: 20px 0px 0px 50px;
}

.icone-menu {
	margin-right: 5px;
	color: #FFF;
}

.texto-menu {
	margin-right: 15px;
	color: #FFF;
}

.texto-menu a:focus, a:hover {
	color: #FFF;
	text-decoration: underline;
}

.texto-menu.disabled {
	color: #BEBEBE;
}

.icone-menu.disabled {
	color: #BEBEBE;
}

/* Área principal
---------------------------------------------------------------------------------------------------*/
.jogo-info {
	
}

.area-usuario-admin {
	text-align: center;
	height: 100%;
	width: 100%;
	padding: 50px;
}

.area-usuario-admin fieldset {
	text-align: left;
    padding: 20px 20px 20px 20px;
}

.area-usuario-admin fieldset input[type="text"]{
	width: 35% !important;
	margin-right: 30px;
}

.area-usuario-admin .btn-salvar, .btn-limpar {
	margin-right: 1em;
}

.area-login {
	height: 500px;
	width: 100%;
}

.login-default {
	padding: 100px 100px 100px 100px;
	height: 550px;
	text-align: center;
}

.login-default fieldset {
	width: 50%;
	margin: 0 auto;
}

.login-default span input[type="submit"] {
	margin-right: 1em;
}

.login-default .input-email, .input-senha, .input-nome {
	width: 75% !important;
}

/* Rodapé
---------------------------------------------------------------------------------------------------*/
.rodape {
	background-color: #000;
	color: #FFF;
	width: 100%;
	height: 100px;
	position: relative;
}