@charset "utf-8";

@import url("#{resource['styles/fontawesome-4.5.0.min.css']}");

/* Configurações Gerais
--------------------------------------------------------------------------------------------------*/
body {
	font-family: sans-serif;
	margin: 0;
}

/* Cabeçalho do site
--------------------------------------------------------------------------------------------------*/
.cabecalho {
	background-color: #1874CD;
	width: 100%;
	height: 70px;
	margin: 0;
	padding: 20px 0px 0px 50px;
}

.icone-menu {
	margin-right: 5px;
	color: #FFF;
}

.texto-menu {
	margin-right: 15px;
	color: #FFF;
}

/* Área principal
---------------------------------------------------------------------------------------------------*/
.jogo-info{
	padding: 0px 50px 50px 50px;
}

