
/* Margins
--------------------------------------------------------------------------------------------------*/
.mrg-5 {
	margin: 5px;
}

.mrg-10{
	margin: 10px;
}

.mrg-15{
	margin: 15px;
}

.mrg-20{
	margin: 20px;
}